.container{
    padding-top: 10px;
    border: 2px solid black;
    width: 400px ;
    height: 500px;
}

#chk{
    text-align: left;
    display: inline-flexbox;
}

.element{
    margin: 10px;
}

.ele{
    width: 300px;
    height: 40px;
    border: 2px solid black;
}

select{
    width: 307px;
    height: 45px;
    border: 2px solid black;
}

button{
    width: 300px;
    height: 40px;
    background-color: orange;
    border: none;
    border-radius: 1ch;
}